.message {
  height: 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  min-height: 60px;
  max-width: 324px;
 
}

.chat_message {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-bottom-left-radius: 12px;
  border-top-left-radius: 12px;
  background-color: #da2323;
}

.me_message {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  background-color: white;
}
.text_me {
  background-color: white;
  min-width: 270px;
  border-radius: 12px;
  max-width: 280px;

}

.text_text_me {
  color: black;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 12px;
}

.text_bot {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-width: 270px;
  border-bottom-right-radius: 12px;
  border-top-right-radius: 12px;

  background-color: #da2323;
}

.chat_img {
  max-width: 35px;
  max-height: 35px;
}

.card_nav {
  border-radius: 12px;
  background-color: #da2323;
  cursor: pointer;
  font-size: 22px;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  align-content: center;
  font-weight: 800;
}
.card_container {
  height: 440px;
  width: 420px;
  right: -25;
  float: right;
  border-radius: 12px;
}

.render_message {
  height: 100%;
  width: 100%;
  overflow: auto;
  align-items: center;
  border-radius: 12px;
}

.input_message {
  color: black;
  padding-left: 1%;
  padding-right: 1%;
  width: 98%;
  padding-top: 40%;
}

.card_container_hide {
  min-height: 40px;
  
  width: 300px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 12px;
  border: '1px solid lightgray';
}
